
<!DOCTYPE html>
<html lang="en">
  <head>
      <link rel="stylesheet" href="https://bootswatch.com/3/darkly/bootstrap.min.css"/>
      <link rel="stylesheet" href="/css/main.css">
    <style>
        .message{
            display:block;
            margin-left: auto;
            margin-right: auto;
            margin-top: 100px;
            width: 50%;
        }
        img{
            height: 75%;
            width: 75%;
        }
        .container{
            margin:auto;
            padding: 15px;
            width: 75%;
            text-align: center;
        }
        p{
            font-family: 'Courier New', Courier, monospace;
            font-size: large;
            font-weight: bold;
        }
    </style>
      <title>Error 404</title>
  </head>
  <div class = "message">
      <div class = "container">
          <img src="https://i.kym-cdn.com/entries/icons/original/000/000/554/picard-facepalm.jpg" alt="Error 404">
          <p>Error 404!</p>
          <p>Page Not Found!!</p>
          {{!-- <P>Let's go back to <a href="/">about</a> for now..</P> --}}
      </div>
  </div>
</html>